#mask{position:absolute; left:0; top:0; background-color:#000000; display:none;}
.layerpop{display:none; border:0px solid #ccc; background-color:#fff;}
.layerpop_area .title{padding:10px 10px 10px 10px; border:0px solid #aaaaaa; background:#f1f1f1; color:#3eb0ce; font-size:1.3em; font-weight:bold; line-height:24px;}
.layerpop_area .layerpop_close{width:25px; height:25px; display:block; position:absolute; top:10px; right:10px; background:transparent url('') no-repeat;}
.layerpop_area .layerpop_close2{width:25px; height:25px; display:block; position:absolute; top:10px; right:10px; background:transparent url('') no-repeat;}
.layerpop_area .layerpop_close:hover{background:transparent url('') no-repeat; cursor:pointer;}
.layerpop_area .layerpop_close2:hover{background:transparent url('') no-repeat; cursor:pointer;}
.layerpop_area .content{width:96%; margin:2%; color:#828282;}
.content table{width:671px;}
.content th{padding:10px; border:1px solid #666666;}
.content td{padding:10px; border:1px solid #666666;}




