<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Member"> 
	
	<select id="kakaoLogin" parameterType="String" resultType="member">
		SELECT * FROM MEMBER WHERE KAKAOID=#{kakaoId}
	</select>
	
	<select id="naverLogin" parameterType="String" resultType="member">
		SELECT * FROM MEMBER WHERE NAVERID=#{naverId}
	</select>
	
	<select id="googleLogin" parameterType="String" resultType="String">
		SELECT GOOGLEID FROM MEMBER WHERE GOOGLEID=#{googleId}
	</select>
	
	<select id="facebookLogin" parameterType="String" resultType="String">
		SELECT FACEBOOKID FROM MEMBER WHERE FACEBOOKID=#{facebookId}
	</select>
	
	<insert id="googleJoin" parameterType="member">
 		INSERT INTO MEMBER(ID, PASSWORD, NAME, BIRTH, ADDRESS, PHONE, KAKAOID, NAVERID, FACEBOOKID, GOOGLEID, SAVEMONEY, DIVISION, PROFILE, PASSWORDDATE)
		VALUES(#{id}, '', #{name}, #{birth}, #{address}, #{phone}, '', '', '', #{googleId}, 0, 1, #{profile}, SYSDATE)
 	</insert>
 	
 	<insert id="facebookJoin" parameterType="member">
 		INSERT INTO MEMBER(ID, PASSWORD, NAME, BIRTH, ADDRESS, PHONE, KAKAOID, NAVERID, FACEBOOKID, GOOGLEID, SAVEMONEY, DIVISION, PROFILE, PASSWORDDATE)
		VALUES(#{id}, '', #{name}, #{birth}, #{address}, #{phone}, '', '', #{facebookId}, '', 0, 1, #{profile}, SYSDATE)
 	</insert>
 	
 	<insert id="kakaoJoin" parameterType="member">
 		INSERT INTO MEMBER(ID, PASSWORD, NAME, BIRTH, ADDRESS, PHONE, KAKAOID, NAVERID, FACEBOOKID, GOOGLEID, SAVEMONEY, DIVISION, PROFILE, PASSWORDDATE)
		VALUES(#{id}, '', #{name}, #{birth}, #{address}, #{phone}, #{kakaoId}, '', '', '', 0, 1, #{profile}, SYSDATE)
 	</insert>
 	
 	<insert id="naverJoin" parameterType="member">
 		INSERT INTO MEMBER(ID, PASSWORD, NAME, BIRTH, ADDRESS, PHONE, KAKAOID, NAVERID, FACEBOOKID, GOOGLEID, SAVEMONEY, DIVISION, PROFILE, PASSWORDDATE)
		VALUES(#{id}, '', #{name}, #{birth}, #{address}, #{phone}, '', #{naverId}, '', '', 0, 1, #{profile}, SYSDATE)
 	</insert>
	
 	<insert id="memberJoin" parameterType="member">
 		INSERT INTO MEMBER(ID, PASSWORD, NAME, BIRTH, ADDRESS, PHONE, KAKAOID, NAVERID, FACEBOOKID, GOOGLEID, SAVEMONEY, DIVISION, PROFILE, PASSWORDDATE)
		VALUES(#{id}, #{password}, #{name}, #{birth}, #{address}, #{phone}, '', '', '', '', 0, 1, #{profile}, SYSDATE)
 	</insert>
 	
 	<select id="idOverlap" parameterType="String" resultType="String">
		SELECT ID FROM MEMBER WHERE ID=#{id}
	</select>
 	
 	<select id="memberLogin" parameterType="member" resultType="String">
 		SELECT ID FROM MEMBER WHERE ID=#{id} AND PASSWORD=#{password}
 	</select>
 	
 	<select id="memberView" parameterType="String" resultType="member">
 		SELECT * FROM MEMBER WHERE ID=#{id}
 	</select>
 	
	<update id="memberModify" parameterType="member">
		UPDATE MEMBER SET NAME=#{name}, ADDRESS=#{address}, PHONE=#{phone}, PROFILE=#{profile} WHERE ID=#{id}
	</update>
	
	<select id="memberList" resultType="member">
		SELECT * FROM MEMBER
	</select>
	
	<select id="memberAttendance" parameterType="String" resultType="member">
 		SELECT ATT_DATE FROM ATTENDANCE WHERE ID=#{id}
 	</select>
 	
 	<insert id="memberAttendanceCheck" parameterType="member">
 		INSERT INTO ATTENDANCE(ID, ATT_DATE)
		VALUES(#{id}, #{att_date})
 	</insert>
 	
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 